<% layout('/layout/page') -%>


<div class="container-fluid pl-4 pr-4">
    <h1>Тестовое задание</h1>

    <p>
        Написать приложение крестики  нолики на доске "3 на 3”. Приложение состоит из клиента и сервера. Для соискателей на вакансию backend разработчик требуется выполнить серверную часть, для соискателей на вакансию frontend разработчик   клиентскую.  Также  приветствуется  выполнение  обеих  частей.</p>
    <p>
        Если в инициированной игре нет активности в течение 5 минут, игра считается прерванной  и  данные  о  ней  удаляются.
    </p>
</div>
