<!DOCTYPE html>
<html>
<head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>


    <!--<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>-->

    <script src="/javascripts/glyphicons.js"></script>
</head>
<body>
    <%-partial('../partials/topNavigation')%>
    <br>
    <%-body -%>
</body>

</html>